<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List of All Users</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f0f0f0;
        }

        h1 {
            text-align: center;
            font-size: 24px;
            margin-top: 20px;
        }

        ul {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            list-style: none;
            padding: 0;
        }

        li {
            text-align: center;
            margin-top: 10px;
        }

        img {
            height: 50vh;
            border: 1px solid #ccc;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        }
    </style>
</head>
<body>

<h1>List of All Users</h1>

<ul>
    <% @users.each do |user| %>
        <li><%= user.name %></li>
        <li><img src="<%= user.photo %>" alt="User Image"></li>
    <% end %>
</ul>

</body>
</html>
